@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* ================= GLOBAL RESET ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ================= GLOBAL PAGE ================= */

html,
body,
#root {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;
}


/* ================= GLOBAL FONT ================= */

body {
    font-family: 'Outfit', sans-serif;

    background-color: #fcfcfc;

    overflow-x: hidden;
}